* {
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
}
//variables for colors
$bgcolor : #242582;
$primar-color : #F64c72;
$secondar-color: #f7345e;


// btn properties
@mixin btn {
  background-color: green;
  padding: 20px;
  width: 220px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
}

header {
  background-color: $bgcolor;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;

  .content-container {
    position: relative;

    .heading {
      color: white;
      font-size: 50px;
      font-weight: 600;
      text-align: center;
      margin: 50px;
    }

    #inputText {
      width: 465px;
      padding: 20px 10px 20px 20px;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 50px;
      border-bottom-left-radius: 16px;
      outline: none;
      border: none;
    }

    .addbtn {
      position: absolute;
      right: 0;      
      width: 201px;
      padding: 20px;
      height: 58px;
      background-color: $primar-color;
      border: none;
      outline: none;
      font-size: 15px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      border-top-right-radius: 16px;



      &:hover {
        background-color: $secondar-color;
        transition: 0.5s;
      }
    }

    .subHeading1 {
      color: #fff;
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 15px;
      text-align: center;
    }

    .subHeading2 {
      color: #fff;
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 15px;
      text-align: center;
    }

    .para {
      width: 674px;
      height: 60px;
      background-color: white;
      margin-bottom: 20px;
      border-top-left-radius: 16px;
      border-bottom-right-radius: 16px;
      padding: 10px;

    }
    #para{
      margin-bottom: 50px;
    }

    .btn_container {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;

      .findbtn {
        @include btn;
        background-color: rgb(206, 0, 206);

        &:hover{
          background-color: rgb(255, 0, 255);

        }
      }

      .resetbtn {
        @include btn;
        background-color: rgb(207, 0, 0);

        &:hover {
          background-color: rgb(255, 0, 0);
          transition: 0.5s;

        }

      }
    }


  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}