* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: #242582;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .content-container {
  position: relative;
}

#container .content-container .heading {
  color: white;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 16px;
}

#container .content-container .range-content {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container .content-container .range-content input[type=number] {
  width: 50px;
  height: 20px;
  padding: 5px 0 5px 0;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

#container .content-container .range-content button {
  width: 110px;
  padding: 6.5px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #06ad00;
  cursor: pointer;
}

#container .content-container .range-content button:hover {
  background-color: #09ff00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#container .content-container .range-content .text {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

#container .content-container #inputText {
  width: 465px;
  padding: 20px 10px 20px 20px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  border-bottom-left-radius: 16px;
  outline: none;
  border: none;
}

#container .content-container .addbtn {
  position: absolute;
  right: 0;
  width: 201px;
  padding: 20px;
  height: 58px;
  background-color: #F64c72;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border-top-right-radius: 16px;
}

#container .content-container .addbtn:hover {
  background-color: #f7345e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#container .content-container .subHeading1 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

#container .content-container .subHeading2 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

#container .content-container .para {
  width: 674px;
  height: 60px;
  background-color: white;
  margin-bottom: 20px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 10px;
}

#container .content-container #para {
  margin-bottom: 50px;
}

#container .content-container .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

#container .content-container .btn_container .findbtn {
  background-color: green;
  padding: 20px;
  width: 220px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #ce00ce;
}

#container .content-container .btn_container .findbtn:hover {
  background-color: magenta;
}

#container .content-container .btn_container .resetbtn {
  background-color: green;
  padding: 20px;
  width: 220px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #cf0000;
}

#container .content-container .btn_container .resetbtn:hover {
  background-color: red;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*# sourceMappingURL=style.css.map */